<script type="text/javascript" type="module" src="/js/match.js" defer></script>

<form action="/downloads">
  <button type="submit">Télécharger le calendrier</button>
</form>


<h2>Match <%- match.teams %></h2>

<div class="card">
  <div class="teams">
    <%- match.teams %>
  </div>

  <div class="scores">
    <%- match.scores %>
  </div>

  <div class="date">
    <%- match.date %>
  </div>
</div>

<% if (user) { %>

  <form class="form" id="comment-form" action="/comments" method="POST">
    <div class="fields">
      <div class="form__field">
        <label for="comment" class="form__title">
          Ajouter un commentaire
        </label>
        <textarea class="form__textarea" name="comment" id="comment"></textarea>
        <div class="form__error comment">Error comment</div>
      </div>
      <input type="hidden" name="match" value="<%- match.id %>">

      <div class="form__field">
        <button class="form__button" type="submit">Soumettre</button>
      </div>
    </div>
  </form>

  <div class="comments">
    <h2>Commentaires</h2>
    <% comments.forEach(c => { %>
      <div class="username">
        <%- c.author.email %>
      </div>
      <div class="comment-item">
        <%- c.comment %>

        <% if (c.author.id === user.id) { %>
        <form class="comment-delete">
          <input type="hidden" name="comment" value="<%- c.id %>">
          <button type="submit">Supprimer</button>
        </form>
        <% } %>
      </div>
    <% }) %>
  </div>
<% } %>